<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>About Service Bid</title>
    <meta name="description" content="All you need to know on AXA Insurance Ireland, AXA in the World and on the great careers you could have by joining the team">
    <meta name="keywords" content="Axa insurance ireland, axa group, car insurance, home insurance, axa insurance in the world, axa worldwide">
<meta name="robots" content="index, follow" /><link rel="alternate" hreflang="en-gb" href="https://www.axani.co.uk/general/axa-group/" /><link rel="alternate" hreflang="en-ie" href="https://www.axa.ie/general/axa-group/" />        <meta name="google-site-verification" content="eHIx6gOHyKea5ErHUlNipnBGSMB6upkSD0n5I-j_w74" />
    <meta name="y_key" content="a8056f2e607ba469" />
    <meta name="msvalidate.01" content="BBE77D12A20925E6CE251632ACF781F7">
    <link rel="publisher" href="https://plus.google.com/101700245600414196651">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/images/apple-touch-icon.png" />
    <link rel="canonical" href="https://www.axa.ie/general/axa-group/">
    <link href="/css/core?v=n1jNyT94KPWeDP7In_TU0Xwn9kc8hH0dMpG1NRY_xOs1" rel="stylesheet"/>
        
    <link href="/css/themes/axa?v=lTs5VUBSaYmJf4Wz2sjpdMbVtRFbL3u6u233KGDsemc1" rel="stylesheet"/>

<link href="/css/default?v=l9dLp6ePVHPaR_PgvFBg2uvXO64cGPNb8VtTSyv24rg1" rel="stylesheet"/>
    
    <style type="text/css">
        @media print { html, body { background: transparent; } html * { box-shadow: none !important; text-shadow: none !important; } #main-nav, footer .wrapper, aside,  #btn-quote, .print { display: none; } .banner { background: none !important; } .banner #offer { height: 250px; } .banner #offer img { height: 250px; width: auto; } #page-content { float: none; width: 100%; padding: 0; } .type2 #offer #terms { right: auto; top: 0; left: 0; color: #000; } header { border: 0; box-shadow: none; } #main { border: 0; padding: 20px 0 0 0; } header { border-bottom: solid 1px #333; } footer { font-size: 0.7em; }}
    </style>
</head>
<body>
<div id="main-content-wrapper" class="wrapper">
    <section id="main" class="clearfloat">
      <h1 class="heading h1">About Us</h1>
        <br />
        <div class="copy">
            <div class="box">
            <div class="box-header">
                <h2 class="box-heading">Service Bid</h2>
            </div>
        <div class="content">
            <div class="body">
                <div class="split">
                    <div class="column"><img class="aligncenter" src="/images/gallery/axa-insurance-ireland-building.jpg" alt="Service Bid Inc" /></div>
        <div class="column">
                <p>Service Bid is the lastest online service that meets our customers needs in repairing their vechicle safely.</p>
                <br />
                <div class="subheading h4">Our Products</div>
                <div class="split">
                    <div class="column">
                        <ul class="list">
                            <li><a href="/car-insurance/" title="Car Insurance with AXA Ireland">Car Insurance</a></li>
                            <li><a href="/home-insurance/" title="Home Insurance with AXA Ireland">Home Insurance</a></li>
                            </ul>
                            </div>
                            <div class="column">
                                <ul class="list"><li><a href="/van-insurance/" title="Van insurance with AXA Ireland">Van Insurance</a></li>
                                <li><a href="/insurance/motorcycle/" title="Motorcyle Insurance with AXA Ireland">Motorcycle Insurance</a></li>
                                </ul>
                                </div></div></div></div></div></div></div><br />
                                <div class="box">
                                    <div class="box-header">
                                        <h2 class="box-heading">Our Customers</h2></div>
                                <div class="content">
                                    <div class="body">
                                        <div class="split">
                                            <div class="column">
                                                <img class="aligncenter" src="/images/gallery/axa-northern-ireland-building.jpg" alt="AXA Insurance Northern Ireland" /></div>
                                <div class="column">
                                    <p> AXA Northern Ireland is perfect for managing the needs of NI residents, and we have more than 140 support staff in our <a href="/insurance/branches/" title="Car Insurance branches AXA NI">15 branch branches across Northern Ireland</a>.</p><br />
                  <div class="split">
                      <div class="column">
                          <div class="subheading h4">Our Products</div>
                          <ul class="list">
                              <li><a href="https://www.axani.co.uk/car-insurance/" title="Car insurance AXA Northern Ireland">Car Insurance</a></li>
                              <li><a href="https://www.axani.co.uk/home-insurance/" title="Home insurance AXA Northern Ireland">Home Insurance</a></li>
                              <li><a href="https://www.axani.co.uk/van-insurance/" title="Van insurance AXA Northern Ireland">Van Insurance</a></li>
                              <li><a href="https://www.axani.co.uk/taxi-insurance/" title="Taxi insurance AXA Northern Ireland">Taxi Insurance</a></li>
                          </ul>
                          </div>
                          <div class="column">
                            <div class="subheading h4">Branch Opening Hours</div>
                              <ul class="list">
                                <li>9-5pm Monday to Friday</li>
                                <li>9-2pm on Saturdays</li>
                                <li><a href="https://plus.google.com/107845537083552079255/" target="_blank" title="AXA Insurance Northern Ireland Head Office">Our head office is based in Belfast</a></li>
                              </ul>
                            </div>
                           </div>
                        </div>
                    </div>
               </div>
        </div>
    </div>
    <br />
    <div class="box">
     <div class="box-header">
       <h2 class="box-heading">Our Dealers</h2></div>
         <div class="content"><div class="body">
            <div class="split"><div class="column">
                <img class="aligncenter" src="/images/gallery/axa-global-building.jpg" alt="AXA Insurance Ireland" />
            </div>
            <div class="column">
                <p>AXA are one of the top three insurance groups in the world. 
                   And we are the fifteenth largest stock exchange quoted company in terms of revenues. 
                   We have an “AA stable” financial rating.  Headquartered in Paris, we employ 175,000 staff all 
                   around the world and we offer financial protection to more than 67 million people.</p>
                <br />
                <p>Our global customers range from ordinary men and women to well known international brands such as Adidas, 
                   Michelin, Nissan and General Electric. Our products range from straightforward home and car insurance packages to 
                   complex arrangements for events as diverse as global sports events and space travel.
                </p>
                <br />
                <p>Visit the <a href="http://www.axa.com" target="_blank" title="AXA Insurance Global">AXA Worldwide website</a>.</p>
                <br />
                </div>
                </div>
                </div>
                </div>
             </div>
            </div>                                                 
        </section>
      </div>
    </body>
</html>
        

    
  