<!DOCTYPE html>
<html lang="en" class="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>About Service Bid</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

   
<body>
   
<div id="main-content-wrapper" class="wrapper">
    <section id="main" class="clearfloat">
      <h1 class="heading h1">About Us</h1>
        <br />
       <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">Service Bid</h2></div>
             <div class="panel body">
               <div class="split">
                    <div class="column"><img class="aligncenter" src="http://pictures.dealer.com/c/centralmotorstc/1502/499c67d301eee8ce5de8152a1782dc8bx.jpg" alt="" width="332" height="162"></div>
        <div class="column">
                <p>Service Bid is the lastest online service that meets our customers needs in repairing their vechicle safely.</p>
                <br />
                <div class="subheading h4">Our Products</div>
                <div class="split">
                    <div class="column">
                        <ul class="list">
                            <li>Servicing</li>
                            <li>Timing Belts</li>
                            <li>Crash Repair</li>
                            <li>Brake Check</li>
                            </ul>
                            </div>
                             <div class="column">
                            <div class="subheading h4">Service Bid Opening Hours</div>
                              <ul class="list">
                                <li>8-5pm Monday to Wednesday</li>
                                <li>8-9pm Thursday to Friday</li>
                                <li>Out of Hours via contact page</li>
                              </ul>
                            </div>
                           </div>
                          </div></div></div></div></div></div> 
            </div>
        </div>
       <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">Our Customers</h2></div>
             <div class="panel body">
               <div class="split">
                 <div class="column">
                     <img class="irc_mi iz_zgE6VaI50-pQOPx8XEepE" alt="Image result for customer getting car serviced images" 
                        style="margin-top: 0px;" src="http://www.destinyconnect.com/wp-content/uploads/2015/01/Wheels-woman-buying-a-car--690x450.jpg"
                        onload="google.aft&amp;&amp;google.aft(this)"  width="332" height="162">
                    <div class="column">
                                    <p> Service Bid is perfect way of managing your cars the needs, and we have more than 140 support staff to meet your requirements if you have any concerns.</p><br />
                  <div class="split">
                     
                    </div>
               </div>
        </div>
    </div>
  </div>
    </div>
       <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="panel-title">Our Dealers</h2></div>
            <div class="panel body">
              <div class="split"><div class="column">
                <img class="alignleft  wp-image-376" src="http://www.brownshoremotors.com/wp-content/uploads/2014/01/carserice.png" alt="carserice" width="332" height="162">
            </div>
            <div class="column">
                            <div class="subheading h4">Dealers Opening Hours</div>
                              <ul class="list">
                                <li>9-5pm Monday to Friday</li>
                                <li>9-2pm on Saturdays</li>
                              </ul>
                            </div>
                         </div>
            <div class="column">
                <p>As Dealer we recommend that Service Bid is one of the world best car service site in the world,
                   in gaining valuable customers. It has created jobs in this sector by creating an extra 
                   employ 175,000 staff all around the world in offering top quality servicing to customers vehicle.</p>
                <br />
                <p>Our global customers range from ordinary men and women to well known international stars 
                   such as Actors and Sportman and women to name a few people that use over dealerships global
                   The quality of brands service parts from the names of Michelin, Nissan and Toyota to name a few.
                   We provide a complete arange of vehicle repairs and service.
                </p>
            </div>
          </div>
                </div>
                </div>
             </div>
            </div>             
            </div>
        </div>
        </section>
      </div>
</html>
        

    
  